HELA_RPC_URL=https://testnet-rpc.helachain.com
HELA_CHAIN_ID=666888
HELA_EXPLORER_URL=https://testnet-blockexplorer.helachain.com
HELA_FAUCET_URL=https://testnet-faucet.helachain.com/
PRIVATE_KEY=replace_with_deployer_private_key
HLUSD_ADDRESS=0x4E81d5892034B31f9d36F903605940f697446B6b

NEXT_PUBLIC_HELA_RPC=https://testnet-rpc.helachain.com
NEXT_PUBLIC_CHAIN_ID=666888
NEXT_PUBLIC_HLUSD_ADDRESS=replace_with_hlusd_contract_address
NEXT_PUBLIC_AGENT_REGISTRY_ADDRESS=replace_after_deploy
NEXT_PUBLIC_AGENT_ESCROW_ADDRESS=replace_after_deploy
NEXT_PUBLIC_AGENT_EXECUTOR_ADDRESS=replace_after_deploy
GEMINI_API_KEY=replace_with_gemini_api_key
